.sign-up, .Login{
    text-align: center;
}
.sign-up h2, .Login h2{
    margin-top: 100px;
    margin-bottom: 40px;
    color: blueviolet ;
}
.auth-toggle-link{
    color: blueviolet;
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
}
.error-p{
    color: red;
    
}